<p id="notice"><%= notice %></p>

<h1>Assignbenefits</h1>

<table>
  <thead>
    <tr>
      <th>Beneficio</th>
      <th>Rut Trabajador</th>
      <th>Rut Beneficiario</th>
      <th>Relacion</th>
      <th>Fecha Nacimiento</th>
      <th>Fecha</th>
      <th>Codigo Obra</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignbenefits.each do |assignbenefit| %>
      <tr>
        <div style="display: none;">
        <%= benefit = Benefit.find(assignbenefit.benefit_id) %>
        </div>
        <td><%= benefit.nombre %></td>
        <td><%= assignbenefit.ruttrabajador %></td>
        <td><%= assignbenefit.rutbeneficiario %></td>
        <td><%= assignbenefit.relacion %></td>
        <td><%= assignbenefit.fechanacimiento %></td>
        <td><%= assignbenefit.fecha %></td>
        <td><%= assignbenefit.idobra %></td>
        <td><%= link_to 'Mostrar', assignbenefit %></td>
        <td><%= link_to 'Editar', edit_assignbenefit_path(assignbenefit) %></td>
        <td><%= link_to 'Destruir', assignbenefit, method: :delete, data: { confirm: '¿Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Asignar Nuevo Beneficio', new_assignbenefit_path %>
