<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @atencionsocial.nombre %>
</p>

<p>
  <strong>Apellidopaterno:</strong>
  <%= @atencionsocial.apellidopaterno %>
</p>

<p>
  <strong>Apellidomaterno:</strong>
  <%= @atencionsocial.apellidomaterno %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @atencionsocial.rut %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @atencionsocial.fecha %>
</p>

<p>
  <strong>Tipoconsulta:</strong>
  <%= @atencionsocial.tipoconsulta %>
</p>

<p>
  <strong>Benefit:</strong>
  <%= @atencionsocial.benefit %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @atencionsocial.estado %>
</p>

<p>
  <strong>Subcontrato:</strong>
  <%= @atencionsocial.subcontrato %>
</p>

<p>
  <strong>Obra:</strong>
  <%= @atencionsocial.obra %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @atencionsocial.telefono %>
</p>

<p>
  <strong>Atencion:</strong>
  <%= @atencionsocial.atencion %>
</p>

<p>
  <strong>Supervisor:</strong>
  <%= @atencionsocial.supervisor %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @atencionsocial.descripcion %>
</p>

<%= link_to 'Edit', edit_atencionsocial_path(@atencionsocial) %> |
<%= link_to 'Back', atencionsocials_path %>
