<p id="notice"><%= notice %></p>


<%= image_tag @trabajador.image.url(:thumb) %>

<p>
  <strong>Nombre:</strong>
  <%= @trabajador.nombre %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @trabajador.rut %>
</p>

<p>
  <strong>Centrocosto:</strong>
  <%= @trabajador.centrocosto %>
</p>

<p>
  <strong>Estado</strong>
  <%= @trabajador.estado %>
</p>

<%= link_to 'Edit', edit_trabajador_path(@trabajador) %> |
<%= link_to 'Back', trabajadors_path %>
