<%= form_for(centrocosto) do |f| %>
  <% if centrocosto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(centrocosto.errors.count, "error") %> prohibited this centrocosto from being saved:</h2>

      <ul>
      <% centrocosto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codigo %>
    <%= f.text_area :codigo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
