<p id="notice"><%= notice %></p>

<p>
  <strong>Trabajador:</strong>
  <%= @asignarmultiplebeneficio.trabajador %>
</p>

<p>
  <strong>Centrocosto:</strong>
  <%= @asignarmultiplebeneficio.centrocosto %>
</p>

<p>
  <strong>Areabenefit:</strong>
  <%= @asignarmultiplebeneficio.areabenefit %>
</p>

<p>
  <strong>Benefit:</strong>
  <%= @asignarmultiplebeneficio.benefit %>
</p>

<%= link_to 'Edit', edit_asignarmultiplebeneficio_path(@asignarmultiplebeneficio) %> |
<%= link_to 'Back', asignarmultiplebeneficios_path %>
