<div class="container">
	<div class="content">
		<div style="box-shadow:0px 0px 15px rgba(0,0,0,0.1);">

			<h3>Reportes por Obra</h3>
			<div class="ui-34"> 
					<%= form_for (@obra), url: reportspannel_path, method: "get" do |f| %>
						<h6>Seleccione una obra</h6>
						<br>
		                <%= f.collection_select :id, Obra.all.order('nombre ASC'), :id, :nombre, include_blank: true %>
		                <br>
		                <h6>Desde: </h6>
  						<%= date_select('event1', 'date', { :discard_day => true}) %>
  						<br>
  						<h6>Hasta: </h6>
  						<%= date_select('event2', 'date', { :discard_day => true}) %>
  						<br>

		                <%# f.label "Buscar Atención" %>
		                <%# f.text_field :rut_atendido %>
		                <%= f.submit "Buscar" %>
		              
	              <% end %>
	              <%= form_for (@obra), url: reportspannel_path, method: "get" do |f| %>
	              <%= f.submit "Limpiar busqueda" %>
	              <%end%>


	              <% if params[:obra] && params[:event1] && params[:event2] %>
			      <%# as = Asformulary.where(:rut_atendido => params[:asformulary][:rut_atendido]).order('created_at DESC') %>
			      <% ob = Obra.find(params[:obra][:id]).codigo %> 
			      <br>
			      <% if params[:event1]["date(2i)"] != "10" && params[:event1]["date(2i)"] != "11" && params[:event1]["date(2i)"] != "12" %>
			      <% fecha1 = params[:event1]["date(1i)"] + "-" + "0" + params[:event1]["date(2i)"] + "-" + "01"%>
			      <% else %>

			      <% fecha1 = params[:event1]["date(1i)"]+ "-" + params[:event1]["date(2i)"]+ "-" + "01" %> 

			      <% end %> 
			      <br>

			      <% if params[:event2]["date(2i)"] != "10" && params[:event2]["date(2i)"] != "11" && params[:event2]["date(2i)"] != "12" %>

			      
			      <% fecha2 =params[:event2]["date(1i)"]+ "-" + "0" + params[:event2]["date(2i)"]+ "-" + "31"%> 
			      <% else %>
			     
			      <% fecha2 =params[:event2]["date(1i)"]+ "-" + params[:event2]["date(2i)"]+ "-" + "31" %> 
			      <% end %>
			      <br>

			     

			      <%end%>
				<br>
  				<br>

  				<ul class="navi">
			      <li class="active"><a href="#one" data-toggle="tab"><i class="fa fa-desktop"></i><span>Atención Trabajadores</span></a></li>
			      <li><a href="#two" data-toggle="tab"><i class="fa fa-user"></i><span>Beneficios</span></a></li>
			      <li></li>
			    </ul>
			    <div class="clearfix"></div>

			    <div class="tab-content">
			    	<div role="tabpanel" class="tab-pane fade in active" id="one">
	        			<h2>Atenciones Sociales por Periodo</h2>

	        			<% if params[:obra] && params[:event1] && params[:event2] %>
	        			<h3><%= Obra.find(params[:obra][:id]).nombre %> - Periodo <%= fecha1 + " a " + fecha2  %> </h3>
	        			<% ob = Obra.find(params[:obra][:id]).codigo %>
	        			<% muestra = Loga.where("codigo_obra = ?",ob).count %>
	        			<% muestrap = Logloan.where("obra = ?", ob).count %>

	        			<%if muestra == 0 %>
	        			<% muestra = 1 %>
	        			<%end %>
	        			<%if muestrap == 0 %>
	        			<% muestrap = 1 %>
	        			<%end %>

	        				<table>
							  <thead>
							    <tr>
							      <th>Área de atención</th>
					              <th>Trabajadores Atendidos</th>
					              <th>% Muestra</th>
					              <th>Total Obra</th>
							      <th colspan="3"></th>
							    </tr>
							  </thead>
							  <tr>
					            <td>Salud</td>
					            <td><%= salud = Loga.where(:created_at => fecha1...fecha2).where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Salud").count %></td>
					            <td><%= (salud*100)/muestra%>%</td>
					            <td><%= saludt = Loga.where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Salud").count %></td>
					          </tr>
					          <tr>
					            <td>Educación</td>
					            <td><%= educacion = Loga.where(:created_at => fecha1...fecha2).where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Educacion").count %></td>
					            <td><%= (educacion*100)/muestra%>%</td>
					            <td><%= educaciont = Loga.where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Educacion").count %></td>
					          </tr>
					          <tr>
					            <td>Familiar</td>
					            <td><%= familiar = Loga.where(:created_at => fecha1...fecha2).where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Familiar").count %></td>
					            <td><%= (familiar*100)/muestra%>%</td>
					            <td><%= familiart = Loga.where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Familiar").count %></td>
					          </tr>
					        
					          <tr>
					            <td>Legal</td>
					            <td><%=legal = Loga.where(:created_at => fecha1...fecha2).where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Legal").count %></td>
					            <td><%= (legal*100)/muestra%>%</td>
					            <td><%=legalt = Loga.where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Legal").count %></td>
					          </tr>
					          <tr>
					            <td>Vivienda</td>
					            <td><%=vivienda = Loga.where(:created_at => fecha1...fecha2).where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Vivienda").count %></td>
					            <td><%= (vivienda*100)/muestra%>%</td>
					            <td><%=viviendat = Loga.where("codigo_obra = ?",ob).where("aspcategory_name = ?", "Vivienda").count %></td>
					          </tr>
					          <tr>
					            <td>Total</td>
					            <td><%= salud + educacion + familiar  + legal + vivienda%></td>
					            <td></td>
					            <td><%= saludt + educaciont + familiart + legalt + viviendat%></td>
					          </tr>


							</table>



						<%= link_to "download", page_download_pdf_path(:pdf) %>	
	        			<%end%>

	        		
        			</div>
        			<div role="tabpanel" class="tab-pane fade" id="two">
        				<h2>Beneficios por Periodo</h2>
        				
        			</div>
        				<div role="tabpanel" class="tab-pane fade" id="three"> </div>
				    	<div role="tabpanel" class="tab-pane fade" id="four"> </div>
				    	<div role="tabpanel" class="tab-pane fade" id="five"> </div>
			    </div>
			</div>



		</div>

		



	</div>
</div>